html, body {
    width: 100vw;
    color: goldenrod;
    font-family: 'Segoe UI', Arial, Verdana, sans-serif;

    margin: 0;
    height: 100vh;

}


.bordergold {
    border: 1px solid goldenrod;
}

.table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.blackground {
    background-color: #000000;
}

.center {
    text-align: center;
}

pre {
    text-align: center;
    font-family: monospace;
}

p {
    text-align: center;
    font-family: monospace;
}

#center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

a {
    color: inherit;
    text-decoration: none;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100
}

    .video-foreground, .video-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

    }

#vidtop-content {
    top: 0;
    color: #fff
}

.vid-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;

    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif
}

    .vid-info h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0;
        line-height: 1.2
    }

    .vid-info a {
        display: block;
        color: #fff;
        text-decoration: none;
        background: rgba(0, 0, 0, .7);
        transition: .6s background;
        border-bottom: none;
        margin: 1rem auto;
        text-align: center
    }

@media(min-aspect-ratio:16/9) {
    .video-foreground {
        height: 300%;
        top: 100%
    }
}

@media(max-aspect-ratio:16/9) {
    .video-foreground {
        width: 300%;
        left: 200%
    }
}

@media all and (max-width:600px) {
    .vid-info {
        width: 50%;
        padding: .5rem
    }

        .vid-info h1 {
            margin-bottom: .2rem
        }
}

@media all and (max-width:500px) {
    .vid-info .acronym {
        display: none
    }
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;



    -webkit-animation:spin2 0.5s linear infinite;
        -moz-animation:spin2 0.5s linear infinite;
        animation:spin2 0.5s linear infinite;

}
.title {
    font-size: 40px;
}



@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#marquee {
    width: 400px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -1px
}

@-webkit-keyframes marqueeAnimation-62889320 {
    100% {
        margin-left: -830px
    }
}

.js-marquee-wrapper {
    width: 800px;
    margin-left: 400px;
    animation: marqueeAnimation-62889320 30s linear 0s infinite
}

.js-marquee {
    margin-right: 400px;
    float: left;
    var tSpeed=6
}



.flex {
  display: flex;

}

* {
    box-sizing: border-box
}

.flip {
  animation-direction:reverse;
  -webkit-animation: flip 1.5s;
  animation: flip 1.5s;
}
@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
@keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}


.borderradius {
  border-radius: 5px;
}

.padding10 {
  padding-left: 10px;
  padding-right: 10px;
}

.margin15 {
 margin-bottom: 15px;
 margin-left: 30px;
 margin-right: 30px;
}

.fontsize15 {
  font-size: 20px;
}

.maxwidth25 {
  max-width: 50%;
}

.margintest1 {
  margin-left: 180px;
  margin-right: 180px;
}

.margintest2 {
  margin-left: 200px;
  margin-right: 200px;
}

.margintest3 {
  margin-left: 100px;
  margin-right: 100px;
}
